PUBLIC_SITE_URL="https://planet.example.com"
PUBLIC_API_PREFIX=https://api.planet.example.com/v1
PUBLIC_GOOGLE_SITE_VERIFICATION=your-google-site-verification-code
PUBLIC_MS_SITE_VERIFICATION=your-ms-site-verification-code
PUBLIC_BAIDU_SITE_VERIFICATION=your-baidu-site-verification-code
PUBLIC_MATOMO_HOST="https://matomo.example.com/"
PUBLIC_MATOMO_SITE_ID=1
PUBLIC_MATOMO_TRACKER_URL=matomo.php
PUBLIC_MATOMO_SCRIPT_URL=matomo.js
