---
import { featureShowcaseSectionId } from "../../data/ios";
import IosFeatureShowcaseDesktop from "./IosFeatureShowcaseDesktop.astro";
import IosFeatureShowcaseMobile from "./IosFeatureShowcaseMobile.astro";
---

<section id={featureShowcaseSectionId} class="apple-section apple-section--light relative">
  <IosFeatureShowcaseMobile />
  <IosFeatureShowcaseDesktop />
</section>
